.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  background: #ffffff;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
}

.navbar .mobile__navigation {
  display: none;
}

.navbar img {
  max-height: 40px;
}

.navbar a {
  max-height: 40px;
}

.title {
  display: flex;
  align-items: center;
  max-height: 50px;
}

.logo {
  border-radius: 100%;
  height: 45px;
  width: 45px;
  margin-right: 10px;
}

.navbar .title a {
  font-weight: 700;
  font-size: 1.5rem;
}

.logo__area {
  display: flex;
}

@media (max-width: 760px) {
  .navbar a {
    max-height: 32px;
  }

  .navbar img {
    min-height: 32px;
  }

  .title {
    display: flex;
    align-items: center;
  }

  .navbar .navigation {
    display: none;
  }
  .navbar .mobile__navigation {
    display: flex;
    align-items: center;
  }

  .navbar .mobile__navigation .hamburger {
    position: absolute;
    right: 5%;
    cursor: pointer;
    max-width: 40px;
  }

  .navbar .mobile__navigation .closeIcon {
    position: absolute;
    right: 5%;
    cursor: pointer;
    max-width: 45px;
  }

  .navbar nav ul {
    flex-direction: column;
    position: fixed;
    top: 60px;
    right: 0;
    width: 100%;
    z-index: 1;
    height: auto;
    background-color: #ffffff;
    padding-left: 30px;
  }

  .navbar nav ul li {
    padding-left: 10%;
    margin: 15px;
    padding: 0;
  }

  .navbar nav ul li a {
    font-size: 1em;
  }

  .logo {
    margin-right: 10px;
    width: 30px;
    height: auto;
  }

  .navbar .title a {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .navbar nav ul li a {
    font-size: 0.8rem;
  }
}
